.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    @include animate(color border-color);

    display: block;
    border: 1px solid $yellow;
    padding: 4px 10px;
    color: $darkGray;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        color: $yellow;
        border-color: $darkGray;
    }
}