* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    color: $black;
    font-size: $baseFontSize;
}

h1 {
    font-size: $titleh1;
    margin: 0 0 50px;
    color: $yellow;
}

h2 {
    font-size: $titleh2;
    margin: 0 0 25px;
}

h3 {
    font-size: $titleh3;
    margin: 30px;
}