.our-team {
    padding: 100px 0 0;

    &__heading {
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 500;
    }

    &__title {
        text-transform: uppercase;
    }

    &__campfire {
        position: relative;
        overflow: hidden;
        text-align: center;
        color: $yellow;

        &:before {
            content: '';
            position: absolute;
            right: 50%;
            top: 35%;
            width: 230px;
            margin-right: 2%;
            border-bottom: 1px solid $yellow;
        }
        
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 35%;
            width: 230px;
            margin-left: 2%;
            border-bottom: 1px solid $yellow;
        }
    }

    .btn-holder {
        display: flex;
        padding: 10px;
        justify-content: center;
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

    &__img {
        padding: 100px 15px 15px;
        position: relative;

        span:first-child {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 100px;
            border-left: 1px solid $yellow;
            border-bottom: 1px solid $yellow;
        }

        span:nth-child(2) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100px;
            height: 100px;
            border-right: 1px solid $yellow;
            border-bottom: 1px solid $yellow;
        }
    }

    &__img-holder {
        border: 1px solid $yellow;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -15px;
            left: -15px;
            width: 100px;
            height: 100px;
            border-top: 1px solid $yellow;
            border-left: 1px solid $yellow;
        }

        &:after {
            content: '';
            position: absolute;
            top: -15px;
            right: -15px;
            width: 100px;
            height: 100px;
            border-top: 1px solid $yellow;
            border-right: 1px solid $yellow;
        }
    }

    .column-span {
        @media screen and (max-width: 1124px) {
            visibility: hidden;
        }

        position: absolute;
        left: 50%;
        top: 5%;
        width: 1px;
        height: 560px;
        background-color: $yellow;
        z-index: 0;
    }

    &__description {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 70px 0 0;
    }

    &__description-holder {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100px;
            border-top: 1px solid $yellow;
            left: 35%;
        }
    }

    &__social-list {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    &__social-item {
        padding: 0 5px 0 0;
    }

    &__social-link {
        @include animate(color border-color);

        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid $lightGray;
        border-radius: 50%;
        color: $lightGray;
    }

    &__text-holder {
        max-width: 350px;
        padding-bottom: 10px;
    }

    img {
        display: block;
    }

    .slider__span-holder {
        position: relative;
        width: 20px;
        height: 4px;
        margin: 10px auto;
        background-color: $yellow;

        &::before {
            content: '';
            position: absolute;
            left: 25px;
            width: 10px;
            height: 4px;
            background-color: $yellow;
        }

        &::after {
            content: '';
            position: absolute;
            right: 25px;
            width: 10px;
            height: 4px;
            background-color: $yellow;
        }
    }

    .icon-holder {
        text-decoration: none;

        .icon-chevron-left, .icon-chevron-right {
            color: $yellow;
        }
    }
}

.pagination {
    padding-top: 100px;

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__btn {
        overflow: hidden;
        height: 10px;
        width: 10px;
        border: 1px solid $yellow;
        border-radius: 50%;
        background-color: $yellow;
        margin: 0 3px;

        &:hover {
            background-color: #fff;
            transform: scale(1.1);
        }

    }

    .active {
        background-color: #fff;
        transform: scale(1.1);
    }
}