* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #333;
  font-size: 13px;
}

h1 {
  font-size: 60px;
  margin: 0 0 50px;
  color: #FC0;
}

h2 {
  font-size: 36px;
  margin: 0 0 25px;
}

h3 {
  font-size: 24px;
  margin: 30px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
  display: block;
  border: 1px solid #FC0;
  padding: 4px 10px;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.btn:hover {
  color: #FC0;
  border-color: #666;
}

.our-team {
  padding: 100px 0 0;
}
.our-team__heading {
  text-align: center;
}
.our-team__subtitle {
  font-size: 18px;
  font-weight: 500;
}
.our-team__title {
  text-transform: uppercase;
}
.our-team__campfire {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #FC0;
}
.our-team__campfire:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 35%;
  width: 230px;
  margin-right: 2%;
  border-bottom: 1px solid #FC0;
}
.our-team__campfire:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 35%;
  width: 230px;
  margin-left: 2%;
  border-bottom: 1px solid #FC0;
}
.our-team .btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.slider__img {
  padding: 100px 15px 15px;
  position: relative;
}
.slider__img span:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-left: 1px solid #FC0;
  border-bottom: 1px solid #FC0;
}
.slider__img span:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-right: 1px solid #FC0;
  border-bottom: 1px solid #FC0;
}
.slider__img-holder {
  border: 1px solid #FC0;
  position: relative;
}
.slider__img-holder:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100px;
  height: 100px;
  border-top: 1px solid #FC0;
  border-left: 1px solid #FC0;
}
.slider__img-holder:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 100px;
  height: 100px;
  border-top: 1px solid #FC0;
  border-right: 1px solid #FC0;
}
.slider .column-span {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 1px;
  height: 560px;
  background-color: #FC0;
  z-index: 0;
}
@media screen and (max-width: 1124px) {
  .slider .column-span {
    visibility: hidden;
  }
}
.slider__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 70px 0 0;
}
.slider__description-holder {
  position: relative;
}
.slider__description-holder::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100px;
  border-top: 1px solid #FC0;
  left: 35%;
}
.slider__social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.slider__social-item {
  padding: 0 5px 0 0;
}
.slider__social-link {
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
}
.slider__text-holder {
  max-width: 350px;
  padding-bottom: 10px;
}
.slider img {
  display: block;
}
.slider .slider__span-holder {
  position: relative;
  width: 20px;
  height: 4px;
  margin: 10px auto;
  background-color: #FC0;
}
.slider .slider__span-holder::before {
  content: "";
  position: absolute;
  left: 25px;
  width: 10px;
  height: 4px;
  background-color: #FC0;
}
.slider .slider__span-holder::after {
  content: "";
  position: absolute;
  right: 25px;
  width: 10px;
  height: 4px;
  background-color: #FC0;
}
.slider .icon-holder {
  text-decoration: none;
}
.slider .icon-holder .icon-chevron-left, .slider .icon-holder .icon-chevron-right {
  color: #FC0;
}

.pagination {
  padding-top: 100px;
}
.pagination__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination__btn {
  overflow: hidden;
  height: 10px;
  width: 10px;
  border: 1px solid #FC0;
  border-radius: 50%;
  background-color: #FC0;
  margin: 0 3px;
}
.pagination__btn:hover {
  background-color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.pagination .active {
  background-color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}